<ion-view id="page1">
  <ion-tabs class="tabs-stable tabs-icon-only" id="enterpriseController-tabs1">
    <ion-tab title="Quadras" icon="ion-android-people" href="#/enterprise-dashboard/enterprise-court" id="enterpriseController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Horários" icon="ion-android-stopwatch" href="#/enterprise-dashboard/enterprise-schedule" id="enterpriseController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notificações" icon="ion-android-notifications" href="#/enterprise-dashboard/enterprise-notification" id="enterpriseController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Perfil" icon="ion-android-person" href="#/enterprise-dashboard/enterprise-profile" id="enterpriseController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>