<ion-view title="Jogos" id="page4" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
    <a href="" ng-click="vm.addGame()" class="button button-positive custom-button icon ion-android-add"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <ion-list id="jogos-list3" ng-if="vm.listGames.length">
      <ion-item class="item-avatar" id="jogos-list-item" ng-repeat="item in vm.listGames">
        <img ng-src="{{item.Schedule.Court.category === 'Futebol society (7)' ? 'img/icon_society.png' : 'img/icon_futsal.png'}}" alt="img">
        <h2 ng-bind="item.name"></h2>
        <p ng-bind="item.Schedule.date | date:'dd/MM/yyyy'"></p>
        <p ng-bind="item.Schedule.horary"></p>
        <p ng-bind="item.Schedule.Court.category"></p>
        <ion-option-button class="button-assertive" ng-click="vm.removeGame(item)">Excluir</ion-option-button>
      </ion-item>
    </ion-list>

    <div class="empty-list" ng-if="!vm.listGames.length">
      <div style="margin-top: 58%;">
        <span class="icon ion-ios-football"></span>
        <div>Nenhum jogo encontrado</div>
      </div>
    </div>
  </ion-content>
</ion-view>
