<ion-view id="page9">
  <ion-tabs class="tabs-stable tabs-icon-only" id="playerController-tabs1">
    <ion-tab title="Jogos" icon="ion-ios-football" href="#/player-dashboard/player-game" id="playerController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Jogos próximos" icon="ion-location" href="#/player-dashboard/player-game-near" id="playerController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notificações" icon="ion-android-notifications" href="#/player-dashboard/player-notification" id="playerController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Perfil" icon="ion-android-person" href="#/player-dashboard/player-profile" id="playerController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
